[2015-11-16 22:04] cowboyd opened #5 "Update Collection Interface"
- code cleanup
- code review
- investigate infinite loop on config change

[2015-11-16 22:06] cowboyd opened #6 "Clean up pages interface"

[2015-11-24 04:08] cowboyd opened #9 "rename impagination-collection -> impagination-dataset"

[2015-11-24 19:40] flexyford opened #12 "Merge color-demo --> master"

[2015-11-24 19:57] #12 closed

[2015-11-24 20:05] flexyford opened #14 "README updates"
- [x] Write README first draft
- [x] Add gif for demonstration
- [x] Explicitly state that this is a data layer for your UI
- [x] Change order of usage section so template is first
- [x] `virtual-each` is used bc of the simplicity of the component, but `ember-collection` and `each` are also use-cases.
- [x] Encourage contributions for more `{{psuedo-each-collection}}` implementations

[2015-11-24 21:36] cowboyd opened #17 "Demo Fixes"
- [ ] put sliders on parameters
- [ ] put transitions on load horizon
- [ ] fix rendering of unload horizon

[2015-11-25 16:11] #9 closed

[2015-11-25 20:06] #14 closed

[2015-12-07 21:24] cowboyd opened #29 "Demo incompatible with virtual-each 0.1.0"
Needs to specify `<= 0.1.0`, or upgrade the demo to work with it.

[2015-12-14 15:45] flexyford commented on #29
I think I'd like to work on upgrading this demo. `virtual-each` is moving along to 0.2.1 already and I want to be able to keep up!

[2015-12-21 19:23] robinvdvleuten opened #33 "Paginating through real-time data"
Is it possible to implement some sort of real-time paginated data pattern like http://www.sitepoint.com/paginating-real-time-data-cursor-based-pagination/?

[2015-12-30 17:35] toddjordan opened #34 "Add the ability to reset a dataset programatically"
Hi!  I heard the podcast on this and liked the ideas behind it, and at the same time had a component that I needed to add infinite scroll to, so I thought I'd give it a whirl.  I'm on my second day now and I still haven't got this basically working in my app.  Hate create an issue for it but was unsure of what other venue I had. If I stick with this library I'd be happy to PR any shortcomings.

So

[2015-12-30 18:14] toddjordan commented on #34
Also, what scope should fetch be under?  I find myself having to bind it to my own component so I can access component properties (to set information about about the result)

[2015-12-30 19:10] toddjordan commented on #34
fetch function:

[code]

Code that creates a dataset to refresh on new search terms

[code]
template:

[code]

[2015-12-31 05:01] cowboyd commented on #34
Hi Todd,

The short answer is that 1) you're spot on. Being able to clear, reload and filter results are all features that we've encountered and have had to employ workarounds.

As for 2), believe it or not, the fact that there are records immediately available before the promise resolves is a feature. They'll have the `isPending` property set to `true` and as you mentioned the content will be und

[2015-12-31 05:08] cowboyd commented on #34
I should add that we're very interested in seeing an official solution to reset() make it to master

[2015-12-31 05:11] toddjordan commented on #34
I don't mind the records being immediately undefined while waiting, but I've been thus far unable to get it to rerender when the promise is fulfilled.

[2015-12-31 05:25] zkwentz commented on #34
If I could weigh in, working on this myself at the moment.

Fetch expects a `thennable` object to be returned:

*forgive coffeescript*

[code]

[2015-12-31 05:27] toddjordan commented on #34
ok...  then the promise that query returns is not `thennable`?

[2015-12-31 05:28] zkwentz commented on #34
It is thennable, but you're doing something with it, so what you're returning is a thennable object right, and the stuff you do `then` is just forgotten, you need to resolve in your own promise, after you've mapped your records, and set stats, etc.

[2015-12-31 05:28] toddjordan commented on #34
ok, I'll give that a try.  Thx

[2015-12-31 05:29] zkwentz commented on #34
Cool, minor update to my previous snippet (`resolve(posts.get('content'))`)

[2015-12-31 05:39] zkwentz commented on #34
To be clear, I haven't got this to work either, but this gets me around the issue where it was giving my dataset an 'UnresolvedPage', to a 'ResolvedPage' with the data populated.

It would seem the data coming back from `impagination-dataset's` block isn't bound?

[2015-12-31 05:51] zkwentz commented on #34
Okay, got it working, so basically doing the map like in your previous, `searchResults.get('content').mapBy('record')` doesn't work because these are not wrapped in an `ObjectProxy` that will fulfill.

Luckily, ember data has a nice little operator that we can add on called `toArray()` which maintains the binding.

so following on both of our examples, your updated fetch would look like this:

[co

[2015-12-31 05:53] toddjordan commented on #34
Awesome!  Lemme try.  Thanks for the time :-)

[2015-12-31 05:54] zkwentz commented on #34
Sure thing your code helped me get going, I was pretty confused before. :+1:

[2015-12-31 16:30] cowboyd commented on #34
Hmmm... You shouldn't have to wrap the search results in a promise at the end there. If results is an array, then returning it will make the top level promise resolve to that.

Also we should probably make clear in the read me that `fetch` expects the collection yielded by the thennable to be immutable, hence the need for `toArray`

Sorry for the confusion

[2015-12-31 16:56] toddjordan commented on #34
Still unable to get the ember-collection component to rerender when the dataset is fullfilled.  I'm now using toArray.

[code]

[2015-12-31 17:02] toddjordan commented on #34
stepping through the whole flow with debugger.  Will post if I find anything interesting.

[2015-12-31 17:41] toddjordan commented on #34
After stepping through down to impagination, it looks like the promise gets successfully resolved and impagination's then on the fetch gets successfully executed.  Looks happy path.  When I inspect the dataset object from the browser I can get references to the resolved items.  But still not rerender happening...
![image](https://cloud.githubusercontent.com/assets/3609063/12066764/47a1b4ce-afbb-11

[2015-12-31 22:22] cowboyd commented on #34
I'm Mobile at the moment so it's hard to help you debug, but if you're instantiating your dataset by yourself, are you also observing it so that every time it emits a new state you can re-render?

[2015-12-31 22:42] zkwentz commented on #34
For my working example, this is my template:

[code]

[2016-01-02 07:00] toddjordan commented on #34
I was able to get the dataset component to re-render by setting the dataset in the observe dataset function after render so that it would hit the didReceiveAttrs hook of the dataset component, but I'm still unable to get my ember-collection to do likewise.  I'll try switching to each to see if its an issue with the ember-collection component, but I was under the impression the each would have rend

[2016-01-02 07:23] toddjordan commented on #34
So with {{#each}} it will load the first page for me, but no additional pages.  I'm assuming that's because {{#each}} isn't set up for virtual scrolling, and I would have to add the scroll event handling code.  So there's something different about ember-collection where its not handling the changes in the record collection. Next I can try virtual-each, which I believe is in the impagination demo,

[2016-01-02 17:26] toddjordan commented on #34
virtual-each does in fact render, but I'm getting in some kind of infinite fetch render loop 😢I feel like most of my problems are because I'm implementing the resetting of dataset which the addon's not currently set up for or tested with, so I'm going to throw in the towel on this.  I might pull down the source and try to add the feature internally and see how far that gets me.  If anything this h

[2016-01-02 18:15] fivetanley commented on #34
In `_resetDataset` do you need to tear down the observer for the old dataset?

[2016-01-06 04:04] toddjordan commented on #34
Just a quick update...  Got rendering/infinite scroll working with ember smoke-and-mirrors.  I am considering incorporating ember-impagination as well to handle the fetching/unfetching of data.  Will probably spend more time on in in the next few weeks.  Its up to you guys whether you want to keep this issue open around the reset functionality or close it and track it elsewhere.

Thanks so much fo

[2016-01-06 04:09] cowboyd commented on #34
@toddjordan We definitely want to keep this open so that we can modify `ember-impagination` to fit this use-case. Quick question. If the component yielded an action to reset itself, would that work for you? e.g.

[code]

[2016-01-06 04:25] toddjordan commented on #34
Possibly.  So in this case I'd have to wrap my search-pane component with impagination as follows...

[code]

The odd thing is I need to re-fetch based on the query given in search pane, but at the same time, I need the search pane to invoke reset when when a new term is entered.  It seems like a circular dependency, but I guess the search-pane could send an action (performSearch) up with the sear

[2016-01-06 04:27] cowboyd commented on #34
In that case could you not have the `performSearch` change the value of the `myFetch` which _should_ have the effect of reseting the dataset (if it doesn't then that's definitely a bug).

[2016-01-06 04:29] cowboyd commented on #34
That is to say, that the `myFetch` property is a function which closes over a set of bound search parameters: new search params recomputes new fetch function, recomputes new dataset.

[2016-01-06 04:36] toddjordan commented on #34
Maybe I'm not understanding.  I thought I would need to somehow provide the search query string collected by the search pane to the fetch function. in the parent component.  That's essentially what perform search was doing: passing the new query information up to where the fetch function could access it.

[2016-01-06 04:40] toddjordan commented on #34
I guess it would be a possible use of the mut helper, so instead of passing up an action I can just have the parent component own the query data.

[2016-01-06 04:43] cowboyd commented on #34
I don't think you need to use the `mut` helper if the data is coming down from the parent component. Basically, the `performSearch` action would set a new fetch function which would come down again to the `impagination-dataset`.

Another option would be to have your search pane yield a fetch function which is then passed to the dataset.

[2016-01-06 04:56] toddjordan commented on #34
ok, I see what you are saying.  `performSearch` would actually pass the fetch function up to the parent, in theory causing fetch to recalculate.  I think if I remember looking at the impagination component source, that the dataset was only created on init.  My memory may not be right though...

Also, in my case its a bit trickier, as the search-pane is reusable component that can search various en

[2016-01-06 04:57] toddjordan commented on #34
ok, you're right, dataset resets when fetch changes.

[2016-01-06 17:16] cowboyd commented on #34
I think that the search pane can still just pass query data to its action. The fetch function would be computed in your controller or route, but it would have the query data as a dependency.

[2016-01-06 17:19] flexyford commented on #34
I want to start working on a PR to introduce a number of functions that exist on the `dataset`
[ ] refresh() - refreshes the dataset at the current read-offset
[ ] reset() - resets the dataset to read-offset 0
[ ] setReadOffset(offset) - sets the read-offset to `offset`

[code]

[code]

Thoughts?

[2016-01-06 17:42] toddjordan commented on #34
@cowboyd agreed, you certainly could.  It doesn't seem super intuitive but I definitely see that working

@flexyford I like that.  It keeps true to how I originally thought how the template should be layed out.

[2016-01-07 20:11] toddjordan commented on #34
@flexyford @cowboyd  If you don't want to give the parent the actual dataset object and stay more "data-down", you can can expose an action called `reset` with a reset function as an argument.  That way, the parent component can just call reset when it changes a query or some other context that would cause the dataset to be reset.

Not sure if I like it better or not, but another option...

[code]

[2016-01-07 21:22] flexyford commented on #34
@toddjordan Passing the entire dataset up does not entirely adhere to the DDAU principle. However, I really like the fact that these actions are available in the controller/route, AS WELL AS in a child component utilizing a similar syntax.

[code]

Thanks for bringing up this point. I'll give it some additional consideration.

[2016-01-14 19:01] seanrucker opened #38 "You modified records.length twice in a single render"
If I include this line (as per the example):

`<div class="records">Total Records: {{records.length}}</div>`

I get an error in the console:

`DEPRECATION: You modified records.length twice in a single render. This was unreliable in Ember 1.x and will be removed in Ember 2.0 [deprecation id: ember-views.render-double-modify]`

[2016-01-14 19:13] seanrucker commented on #38
This also happens if I try `{{log records}}` inside the impagination-dataset component.

[2016-01-14 19:48] seanrucker opened #39 "Support for router/controller actions"
In the example it suggests the fetch function should be a property of the route and that a direct reference to that function be passed to the component. This won't run the function in the scope of the route and therefore you can not access the store.

[code]

[code]

I was expecting that I would pass the name of the action that should be run as a string as is consistent with other components.

[co

[2016-01-14 20:16] seanrucker opened #40 "Documentation doesn't mention content property of record"
This:

[code]

Should be:

[code]

I was pulling my hair out for an hour or so trying to get the content to display.

[2016-01-14 20:23] seanrucker opened #41 "Documentation doesn't explain record states"
I can see that records have these four properties:

- isPending
- isRejected
- isRequested
- isResolved

I gather that when `isResolved = true` the `record.content` property is fulfilled and I can render my template. I'm guessing that `isRejected` is true if the load failed. What is the difference between `isPending` and `isRequested`?

Probably all four should be explained in the documentation wi

[2016-01-14 22:01] Robdel12 commented on #5
Is this still a thing?

[2016-01-14 22:02] Robdel12 commented on #6
What does this mean?

[2016-01-14 22:06] flexyford commented on #39
Hi @seanrucker,

We realize there are some documentation issues that are causing people headaches with `ember-impagination`. The issues you opened today are all great issues, and we want to address these prior to our 0.2.0 milestone.

We are working on updating the README with `How To` Recipes for the many implementations of `ember-impagination`

Here's what I believe you are looking for:

[code]

[2016-01-14 22:26] flexyford commented on #41
https://github.com/flexyford/impagination/blob/master/src/page.js#L10

isPending - when we wait on the fetch to return
isResolved - when the fetch is resolved
isRejected - when the fetch is rejected
isRequested - record isPending OR isResolved OR isRejected

`isRequested` is false whenever we initialize our dataset with unrequested pages.
[code]

This is a record attribute we inherit from `impagin

[2016-01-14 22:28] #40 closed

[2016-01-14 22:50] seanrucker commented on #39
Cool. FYI I did eventually get it up and running and it is working beautifully. In combination with ember-collection it is a really slick solution. I'm loading 10k rows in batches of 100 at a time and it's performing amazing. Thanks for releasing this great component.

[2016-01-14 23:14] cowboyd commented on #39
@seanrucker that's actually a really great solution, and should be in the docs. The way that's actually in the readme was what you would do in a < 1.13 app

[2016-01-15 21:32] seanrucker opened #43 "Documentation fetch example doesn't work with Ember 2.x"
In the README you show an example of querying records in the fetch function:

[code]

This didn't work for me. After fiddling around I eventually got this to work:

[code]

[2016-01-15 21:38] seanrucker commented on #39
It would be nice if it supported passing an action name rather than a function reference.
[code]
That way the action could be defined on the controller OR on the route which is likely a better spot to be handling the data loading.

With my workaround...
[code]
... I had to define the action on the controller and that required me to inject the store into the controller.
[code]

It works, but its a

[2016-01-15 21:45] fivetanley commented on #43
Using `content` on `RecordArray`s in Ember Data looks private (you should be able to use `map` directly on the record array), but otherwise this updated example looks good.

[2016-01-15 21:48] seanrucker commented on #43
I actually just found a simpler solution:

[code]

[2016-01-15 22:05] seanrucker commented on #34
I've run into the need to get the dataset to refresh as well. Here's how I got it working.

[code]

[code]

With this approach, each time the value of `query` changes the fetch action is called again, the value of query is passed into the function, and the data refreshes.

Thoughts?

[2016-01-15 23:03] flexyford commented on #43
Thanks @seanrucker for the solution!

[2016-01-15 23:04] #43 closed

[2016-01-26 16:17] flexyford commented on #34
@seanrucker This is a brilliant approach when we want to refresh the data based on queryParams. And if that is your use-case for refreshing, then I highly recommend it! I will add this to the README!

I'm still considering alternative to enable `filter`ing records on the front-end. If we want `ember-impagination` to handle filtering for us, then the value of `query` will not change, so we need a d

[2016-01-26 17:16] flexyford commented on #39
The `impagination` library, which `ember-impagination` wraps, must receive a `fetch` which is a "thenable".  Therefore, we cannot pass in a string, since calling `this.sendAction('fetch')` does not return a promise. It's an intricacy of the original library that has our hands tied at this point.

I'm afraid that if you want to define the action on the controller, you have to [inject the store into

[2016-01-29 16:29] #29 closed

[2016-01-29 17:22] sarenji opened #47 "Move `Array` polyfills to main plugin?"
I believe the `Array.prototype.fill` and `Array.from` methods are ES6-only methods, which `ember-impagination` uses. While using `ember-impagination` in another app, I'm getting errors in my own tests related to these methods not being defined in `phantomjs`. I took a look and found out that this plugin polyfills those methods, but in a [`test-helper`](https://github.com/thefrontside/ember-impagin

[2016-02-02 18:46] seanrucker commented on #39
In your documentation update you mention passing the fetch function like so:

[code]
Below that you state:

Unless I'm doing something wrong, your proposed solution does allow defining the action anywhere _but_ the controller. When I try to move my action to the route I get the following error:

`Uncaught Error: An action named 'fetch' was not found in <my-app@controller:controller-name::ember123>

[2016-02-04 19:32] bjubinville commented on #39
@seanrucker that is my experience as well.  Closure actions must reside in the controller unless you use something like https://github.com/dockyard/ember-route-action-helper

[2016-02-05 16:40] flexyford commented on #39
Okay, because the README for `ember-impagination` is lengthy, we are trying to be concise with how and where to define the fetch function. I was unaware that "Closure actions must reside in the controller".  The `ember-route-action-helper` "will work on Ember versions 1.13.x and up only." @bjubinville did the `ember-route-action-helper` addon work for you? Curious if you can then define the store.

[2016-02-05 17:58] bjubinville commented on #39
@flexyford I personally keep actions in the controller, so don't leverage that plugin right now though I'm aware of it

In my routes, I define things like this:

[code]

[2016-03-08 06:04] dbinetti opened #53 "beginner documentation"
i'm just learning ember, so perhaps trying this library was a bit more than i could handle, but as a newcomer i'm totally lost by the documentation.  a simplified example that matches the dummy app would be very helpful.

[2016-03-08 15:30] Robdel12 commented on #53
I agree 100%. We've been pretty busy lately with client work. But this needs to happen sooner rather than later.

[2016-03-08 18:17] flexyford commented on #47
Array.prototype pollyfills are removed in version `0.2.0`

[2016-03-08 18:17] #47 closed

[2016-03-08 18:19] flexyford commented on #34
Added way to reset, reload, and refilter dataset in `0.2.0`

[2016-03-08 18:19] #34 closed

[2016-03-08 18:30] toddjordan commented on #34
Thanks!

[2016-05-16 11:17] graup opened #68 "Performance (setting totalPages to a high number)"
I had some bug that crashed my app when I assigned `stats.totalPages` to a big value. Removing that line solved the problem, so I was wondering if that is needed somewhere in the component? I searched the repo but the variable doesn't seem to be used anywhere. If that's the case, what is the need for the `stats` variable anyhow?

[2016-05-16 11:32] graup commented on #68
I think I just answered my own question, that variable is used in the underlying Impagination lib (https://github.com/flexyford/impagination/blob/4ff6f2f016860d6c528f31cbd8cd7cc58142f725/src/dataset.js#L121)

So I should figure out why assigning it to 256 crashed my browser.

[2016-05-16 11:51] graup commented on #68
Something is weird here. The higher the number of totalPages, the longer the browser is busy. Can anyone else replicate that?

[2016-05-17 15:23] flexyford commented on #68
@graup you are correct. `totalPages` is used by the underlying `impagination` library. Setting the `totalPages` variable will initialize the entire `pages` array with `Unrequested Pages`, such that `pages.length; //=> totalPages`. That means each `Unrequested Page` has `#pageSize` records, which are initialized as `null`.

When returning `totalPages`, then `record.length; //=> totalPages * pageSiz

[2016-05-17 16:01] flexyford commented on #17
_I would like to propose the following format to fix the demo issues:_

##### Current Demo Issue
_Description_
##### Proposed Demo Fix
_Description_
- [ ] Task 1 to fix issue
- [ ] Task 2 to fix issue

[2016-05-17 16:29] graup commented on #68
Thanks for the reply. Do you have an idea how to improve this? I thought the advantage of Impagination is that it doesn't keep all records in memory, so unfetched pages shouldn't have an impact on performance.

Maybe I could just set `totalPages` to a small number at first and keep increasing it later when the user gets close to the end.

[2016-05-24 16:48] cowboyd commented on #68
@graup that would be a workaround, however the long term solution is to make a `PageStore` object to lazily fetch pages, in the same way that the dataset lazily fetches the records.

[2016-05-29 14:04] graup commented on #68
I see. Should I open an issue on the Impagination repo? If you could point me to where you would implement that I can also try to contribute a solution.

[2016-05-31 15:51] TopsyCM opened #77 "Read dataset without updating readOffset"
Is it possible to read data from the impagination-dataset without updating the readOffset? Currently the two appear to be coupled. From [impagination-dataset.js](https://github.com/thefrontside/ember-impagination/blob/master/addon/components/impagination-dataset.js):

[code]

This is fine if all you are doing is displaying the dataset. However, if you need to do anything else with the dataset, the

[2016-05-31 16:06] cowboyd commented on #77
@TopsyCM Yes, this is actually in the plans to completely remove this coupling since it violates DDAU. We haven't decide whether to make the legacy behavior opt-in, or just completely remove it.

[2016-05-31 17:39] TopsyCM commented on #77
Super! I am looking forward to it. Now I just need to get things working reliably until that lands.

[2016-06-23 04:31] sarenji commented on #77
This just burned me, too —not entirely sure why, but after I called `setReadOffset` (via an action or other ways) there would be two states output, one for the next page and one for the old page, so `dataset.readOffset` always read as `0` in the end. That meant no matter how many times I pressed a "next" button I'd be getting the 2nd page. When I removed the offending line, everything worked.

Do

[2016-06-23 16:42] Robdel12 commented on #77
@flexyford I know you've been doing a lot of work on this library lately. Do you have any thoughts on this?

[2016-06-25 00:23] cowboyd commented on #77
@sarenji The historical reason was to have it work "out of the box" with `ember-collection`, `virtual-each` and friends, kind of like the asynchronous relationships in Ember Data.

@flexyford Is currently working on Impagination 2.0 which will address this issue. Perhaps we could have a patch release that provides an option to turn this off.

[2016-07-22 21:00] flexyford commented on #68
Hey @graup, thanks for your notes and input.

We're working on `impagination 1.0.0` and your issues / suggestion is making it into our next release. We are only in the beginning stages, but you can check the progress at this [Impagination Pull Request](https://github.com/flexyford/impagination/pull/35). Please check back for documentation in the coming weeks. Just wanted to let you know we're work

[2016-07-22 21:03] graup commented on #68
Thanks for the update, @flexyford! I'm using ember-impagination in a deployed app, will be happy to test the next version.

[2016-07-29 14:11] graup opened #97 "DEPRECATION: Usage of `_actions` is deprecated, use `actions` instead."
This line creates a deprecation warning in Ember 2.7.0: https://github.com/thefrontside/ember-impagination/blob/e62c1c70920cad53d0c06189a2b72dcc8b4d7abb/addon/components/impagination-dataset.js#L33

[2016-07-29 15:06] Robdel12 commented on #97
@flexyford could this be fixed and cut a patch release?

[2016-07-29 15:08] Robdel12 opened #98 "Clean up dead PRs"
There's a lot of lingering PRs. We should close any that aren't going to merged any time soon so the repo doesn't look dead.

[2016-07-29 15:12] graup commented on #97
Actually that deprecation seems to have been there [since 2.1](https://github.com/emberjs/ember.js/commit/5214c634421081d30cb474a55d3d461afec153ea#diff-05dd074e2a26909a21e9dddc43dd024f), but I just noticed it now for the first time.

[2016-08-13 21:54] Robdel12 opened #106 "Update the description in package.json"
https://github.com/thefrontside/ember-impagination/blob/master/package.json#L4
![image](https://cloud.githubusercontent.com/assets/2072894/17645848/977f38aa-6176-11e6-8dc5-66cd25ac90e2.png)

[2016-09-22 21:46] schickm commented on #97
I tried changing it on my own, but it causes two test failures.  I'm not clear if the issue is the tests or the change, all I did was just drop the underscore from `_actions` in the line cited above:

[code]

[2016-11-01 22:55] kellyselden opened #119 "new release"
Can you release https://github.com/thefrontside/ember-impagination/pull/105 to clean up console chatter?

[2017-01-30 16:50] #98 closed

[2017-01-30 16:51] #106 closed

[2017-01-30 16:52] Robdel12 commented on #119
This was probably cleaned up in one of the alpha releases (& probably #120)

[2017-01-30 16:52] #119 closed

[2017-01-30 18:04] kellyselden commented on #119
While it would be nice to get a stable patch, we will try out the alpha release and see if we have any issues. Thanks.

[2017-01-30 18:13] cowboyd commented on #119
There are some API changes. The biggest is that it has been "de-magicked". It will not attempt to set the read offset for you. You'll have to do that yourself. This makes it more strictly DDAU since side effects will never be triggered simply by reading the dataset state.

The downside is that you need to explicitly trigger side-effects inside of an action. Curious how your experience goes, and pl

[2017-01-30 18:14] cowboyd commented on #77
@TopsyCM @sarenji `setReadOffset` has now been completely decoupled from reads and must always be explicitly called.

In other words, reads are pure and side-effect free :)

[2017-01-30 18:14] #77 closed

[2017-01-30 19:27] TopsyCM commented on #77
I'm looking forward to trying it out. However, I don't see any tags or releases in github. The changelog doesn't seem to have any info on the 1.0.0-alpha.x npm releases. I probably missed a discussion about this somewhere.

[2017-02-16 17:01] mjuniper opened #148 "Error building app after upgrading to ember-cli 2.11.1"
I'm kinda stumped because it looks to me like ember-impagination is using ember-cli 2.11.1. Also, ember-template-compiler does not appear to be a bower package.

[code]

[2017-02-16 17:17] mjuniper commented on #148
Hmm, adding `"ember": "~2.11.1"` to bower.json seems to take care of the issue. But I'm pretty sure that's not supposed to be needed anymore. I'm gonna close this but I'd be interested in any insight folks anyone might have.

[2017-02-17 16:26] Robdel12 commented on #148
Interesting! I'm going reopen this because that means we have an unneeded bower dep.

[2017-03-03 04:15] cowboyd opened #152 "`on-init` hook is never fired if the dataset is re-computed"
The `on-init` hook is designed to allow initialization code to run whenever the underlying impagination dataset is created. The most standard use-case for this is to kick off an action that sets the initial read offset, thereby causing the first page to be fetched. This hook fires whenever the component is first initialized.

The `dataset` property of the `impagination-dataset` component depends o

[2017-03-03 14:24] john-griffin commented on #148
Just hit this too.

[2017-03-08 22:09] #152 closed

[2017-04-04 20:40] anthonycollini opened #169 "readOffset not working properly"
I am trying to set the `readOffset`, so my API returns the correct results. My API is using the Rails Kaminari gem, which returns the same results for page 0 and 1. I am trying to get `ember-pagination` to start at page 1 when fetching results, but the settings don't seem to stick.

What is the proper way to set the `readOffset`, or do I need to change a different parameter?

[code]

[code]

[2017-04-04 21:06] anthonycollini commented on #169
I got around this by adding + 1 to the pageOffset in my fetch call, but I am still looking for a better solution:

[code]

[2017-04-05 05:02] benshine opened #170 "README does not explain how to trigger the first fetch"
From the README, it is unclear that we need to _explicitly_ trigger the first fetch. The readme says "This setup will immediatly call fetch twice (for records 0-4 [page 0] and records 5-9 [page 1])"... but actually it won't.

I think the solution is to add
[code]
to the template, and an implementation of `initializeReadOffset` that just does this:
`dataset.setReadOffset(0);`

Sound right? If so, I

[2017-04-05 14:11] cowboyd commented on #170
100% agree, this is outdated documentation from the era before 1.0 and  "only explicit actions can change the state"

[2017-04-05 15:08] flexyford commented on #169
Hi @anthonycollini

The `pages` interface of [Impagination](https://github.com/flexyford/impagination#load-horizon) is an array-like object, and therefore zero-indexed. We pass the `pageOffset` to the `fetch` function so we can customize our queries.  Your code example above is exactly how you should begin fetching from page 1

[2017-04-05 15:08] #169 closed

[2017-04-05 15:19] flexyford commented on #170
@benshine The [README](https://github.com/thefrontside/ember-impagination#impagination-dataset-component) says the "setup will immediatly call fetch twice", but that is no longer the case since the 1.0 era. The README should says the "setup will immediatly trigger the `on-init` action".

Once the `readOffset` is defined, it will trigger the `fetch` action

[2017-04-05 15:38] flexyford commented on #97
`_actions` is no longer used as of v1.0.0-alpha.1

[2017-04-05 15:38] #97 closed

[2017-04-05 15:51] flexyford commented on #68
Just getting back to this Issue: We have released `impagination 1.0.0-alpha.x` and are lazy loading pages when setting total Pages. [Therefore the length is calculated without eagerly loading the pages.](https://github.com/flexyford/impagination/blob/063561f2e3ba76cbed64522eb785004292047e27/src/lazy-store.js#L150-L155)

[2017-04-05 15:52] #68 closed

[2017-04-05 15:57] Robdel12 commented on #170
I was thinking we should at least get a branch going that guys everything that is _wrong_ in the readme.

[2017-04-05 16:15] benshine commented on #170
I don't know the library well enough to fix everything wrong in the readme, but I can at least fix this particular bit!

[2017-04-07 22:04] anthonycollini opened #171 "Requesting more pages than necessary"
I have an issue where more pages are requested than necessary. In this example, I only have 8 results returned from the API. my pageSize is set at 25 to fetch 25 results/page. However, it requested 6 pages worth of data, which all returned empty except the first. I'm not sure what I'm doing wrong.

template
[code]

controller
[code]

route
[code]

[2017-04-07 22:08] TopsyCM commented on #171
I don't see loadHorizon being set. What is the default value?

[2017-04-07 22:26] anthonycollini commented on #171
@TopsyCM I believe it's the pageSize, which I have set as 25

https://github.com/flexyford/impagination/blob/7381e66fb8134358da6e90b5109f4575d2a3df21/src/dataset.js#L9

[2017-04-10 13:49] flexyford commented on #171
What happens when you set the `load-horizon` to 25? It is the default value, but I'm curious if you experience the same error.

[2017-04-10 13:56] flexyford commented on #171
@anthonycollini could you please post the handlebars template that implements the `{{impagination-dataset}}`?

[2017-04-12 20:30] TopsyCM opened #172 "Semver violation"
It looks like the changes from the 1.0.0-alpha.x releases have gotten rolled into a 0.2.1 release. However, there are breaking changes in the way impagination needs to be implemented since 0.2.0. I think even the way the underlying impagination library is included has changed. In short, bumping from 0.2.0 to 0.2.1 in my project fails completely. Can you please revert this and make the new release

[2017-04-13 16:51] anthonycollini commented on #171
I set the `load-horizon` to 25 and the same issue appears.

I added a `console.log` in my `onObjectAt`, and it does get called multiple times. It loops through index 0 - 24, then loops through 0 - 24 again.

Here is my current template:

[code]

[2017-04-13 20:16] flexyford commented on #171
I believe the `readOffset` is set to a number greater than 0 in `setReadOffset`. If it is set to >= 1, then the next page will be requested (page 2 in your instance), because the `loadHorizon` (25) will jump to the next page.

@anthonycollini are you saying that `page 1` had < 25 transactions (records). I see in your first post there are only 8. Try setting `stats.totalPages` inside the `then` cla

[2017-04-14 16:41] flexyford commented on #172
Thanks @TopsyCM

We were not able to revert the v0.2.1 release since it was [released more than 24 hours ago](http://blog.npmjs.org/post/141905368000/changes-to-npms-unpublish-policy), but have [deprecated v0.2.1](https://github.com/thefrontside/ember-impagination/releases/tag/0.2.2) in favor of v0.2.2 which is equivalent to v0.2.0

[2017-04-14 17:23] flexyford commented on #172
New major released finally [released as v1.0.0-alpha.6](https://github.com/thefrontside/ember-impagination/releases/tag/1.0.0-alpha.6)

[2017-04-14 17:23] #172 closed

[2017-04-14 17:29] flexyford commented on #148
What version of `ember-impagination` are you using?

I recommend upgrading `ember-impagination` to the `1.0.0-aplha.6` release if upgrading your ember applications. There are a few breaking changes which need to be documented in a "Migration Guide". Checkout the [demo page](http://thefrontside.github.io/ember-impagination) for some code examples to get you moving in the right direction. Please let

[2017-04-14 17:31] flexyford commented on #5
Pre 1.0 release cleanup is not needed since [Impagination proper upgrade](https://github.com/flexyford/impagination/releases/tag/1.0.0-alpha.3)

[2017-04-14 17:31] #5 closed

[2017-04-14 17:32] flexyford commented on #6
You bet we cleaned up these pages interfaces. [Impagination proper upgrade](https://github.com/flexyford/impagination/releases/tag/1.0.0-alpha.3) took care of that. See this [commit](https://github.com/flexyford/impagination/blob/master/src/state.js) where our pages-interface is now `state`

[2017-04-14 17:32] #6 closed

[2017-04-14 17:52] flexyford commented on #38
This has been fixed in the `v.1.0.0` milestone

[2017-04-14 17:52] #38 closed

[2017-04-14 17:54] flexyford opened #174 "Add Migration Guide"
The upgrade from `v.0.2.x` to `v1.0.0` contains some breaking changes. We need to outline them in the README for new users as well as a Migration Guide for existing users!

[2017-04-17 15:58] anthonycollini commented on #171
It still doesn't seem to work. I'm not returning the record count from my API, so I just hardcoded a value of 4 for the `stats.totalPages` in the `then` clause, but it still requests 5 pages, even though I only have 4 pages worth of data. I also lowered the `loadHorizon` from 25 to 20, it did request one less page in total (5 pages instead of 6), but then it DOS'd my server ...

<img width="253" a

[2017-06-27 11:34] kpabi opened #212 "importing Dataset yields an error"
import Dataset from 'impagination/dataset' does not work though it is stated in the docs

[2017-11-07 00:12] queenvictoria opened #213 "Can't load more after 2nd fetch"
Thanks for the work on the addon!

I'm trying to load 3 records at a time from a JSONAPI dataset.
I'm using `ember-route-action-helper` with all the logic in the route (no controller).

Working through the chain of events I can set `setReadOffset` being called through `ember-impagination` all the way to `impagination`. Then I can see `_fetchPages` being called with an `unrequested` array. The firs

[2017-11-07 01:49] flexyford commented on #213
Hi @queenvictoria, thanks for reaching out.

I recreated your code in an `ember-twiddle`. I was able to replicate your problem. I think the issue is your `readOffset` may not be updating properly due to this line . . .

I see you're computing the next `readOffset` in your fetch promise handler, but it might be the same number as your current `readOffset`. If that's the case, clicking the `loadMore

[2017-11-07 03:22] queenvictoria commented on #213
Hi @flexyford thanks for the quick response!

What I found when I `setReadOffset` to `records.length` was that it loaded too many records at once (about . From what I understand `readoffset` is the current page offset (not the current record number). Setting it to `records.length` doesn't seem to be right for two reasons.

1.`{{ records.length }}` seems to be (close) to the entire set of the recor

[2017-11-07 04:42] queenvictoria commented on #213
Ok! You were quite right. My misunderstanding around readOffset vs pageOffset combined with an underlying API error had me chasing my tail. Apologies for that.

(FYI: The API error was that it wasn't always returning the number of records that were requested. This put the pager out of sync and made it hard to debug.)

[2017-11-07 04:42] #213 closed

[2017-12-24 20:03] mwisner opened #214 "Manually calling refilter doesn't seem to work."
Hi!

It seems like manually calling refilter doesn't appear to work... When the data is initially loaded my filterCallback method seems to work fine... But when I call dataset.refilter() it doesn't look like the results are getting refactored...

One thing I noticed... On initial data load the arguments for the `filterCallback` method all look fine, but when manually calling... `record`, `index` a

[2018-01-09 02:01] flexyford commented on #214
Thanks @mwisner for reporting this issue.

Let me make sure I understand. Calling `dataset.refilter()` without any parameters should be calling your original `filter` callback. This happens, but there are no arguments passed to that callback and it is only called once. However, it _should_ be called `dataset.length` times.

I'll take a look into this . . .

[2018-01-09 02:09] flexyford commented on #214
`refilter( [callback] )` allows you to pass a new callback. I'm curious what happens if you were to try that. Would the callback receive any arguments? Would it be called the expected number of times?

[code]

[2018-01-09 02:26] flexyford commented on #212
Thanks for pointing this out. Right now, it should say `import Dataset from 'npm:impagination';`, however, this could benefit from a vendor-shim. That way we could call `import Dataset from 'impagination';`

[2018-01-09 02:33] flexyford opened #215 "Cannot `import Dataset from "impagination"`"
It would be nice to be able to `import Dataset from "impagination"`

Would a vendor-shim of `impagination` allow us to do this? At the moment we have to `import Dataset from 'npm:impagination'` for in-addon and consumer use if they want to roll their own. This issue was discovered while looking into #212

[2018-01-09 18:04] Robdel12 commented on #215
With newer versions of ember we can probably use their transform if it's an AMD asset https://ember-cli.com/user-guide/#standard-non-amd-asset

[2018-07-26 07:29] Alonski commented on #215
Hey any chance on getting an update for this?
Maybe using https://github.com/ef4/ember-auto-import?

[2018-09-07 15:52] Alonski opened #216 "Up for adoption?"
When an original owner no longer has time to maintain the addon, there is a place where the addon can be "put up for adoption." Melanie Sumner has created [adopted-ember-addons](https://github.com/adopted-ember-addons).

Would you consider allowing us to adopt ember-impagination so that the addon may continue to provide useful service to the community?

[2018-11-13 13:56] Alonski commented on #216
@cowboyd If you want to chat about this I am free :)

[2019-01-20 08:00] Alonski commented on #216
Conclusion: I will be helping out with this project/repo.

[2019-01-20 08:00] #216 closed

[2019-01-21 19:47] Alonski commented on #215
This was accidentally closed by #218. It doesn't actually do this 😅 Will put in a PR soon

[2019-01-22 09:57] Alonski commented on #171
@anthonycollini Is this still an issue that you need help with?
If so is it possible to get a reproduction of this issue in a repo or a twiddle?

[2019-01-23 06:40] #215 closed

[2019-01-23 06:42] Alonski commented on #212
This is closed by #219

[2019-01-23 06:42] #212 closed

[2019-01-23 06:43] Alonski commented on #148
@Robdel12 @john-griffin @mjuniper
Is this still relevant?

[2019-04-06 16:23] #148 closed

[2019-04-06 16:24] Alonski commented on #214
@mwisner is this still relevant? If not I will close this

[2019-04-07 14:10] #214 closed

[2019-04-09 22:19] mjuniper commented on #148
As far as I can tell this is no longer an issue.

[2019-04-30 06:37] oracle1wr opened #261 "Using addon in app causes missing module error caused by ember-auto-import"
ember-cli: 3.8.1
node: 8.14.0

[code]

[2019-04-30 09:47] Alonski commented on #261
Thanks for the report.
This is an issue with the way we import and then export `impagination`
`Ember Auto Import` doesn't seem to register that `impagination` needs to be bundled.
There is an open issue: https://github.com/ef4/ember-auto-import/issues/209

There is a workaround that you can do for now:
1. `yarn add ember-auto-import -D`
2. `yarn add impagination -D`

This will install the dependen

[2019-05-01 03:22] oracle1wr commented on #261
thanks, it worked
At least I don't see the error anymore.

[2019-05-01 04:55] Alonski commented on #261
Reopened since this is still an issue 🙂

[2019-05-08 09:34] Alonski commented on #261
@oracle1wr Could you try pointing to this branch to see if it fixes the issue: https://github.com/adopted-ember-addons/ember-impagination/pull/263

[2019-05-09 19:58] oracle1wr commented on #261
Changes in #263 fixed the issue for me. Now it works as expected.

[2019-05-09 20:21] Alonski commented on #261
Awesome. I will merge and publish a release over the weekend. Thanks!

[2019-05-14 20:13] karlbecker opened #264 "Keyset pagination support"
Hello!

Our API uses a keyset pagination method. On the response of each paginated endpoint, we return a key that indicates whether there is more data or not. Our consumer apps send the key back to the API, which tells the API to give me the next page of data starting with the data stored in the key.

This technique eliminates some of the trickiness such as data being updated in the middle of gett

[2019-05-19 07:22] Alonski commented on #264
Hey @karlbecker
So one of my teammates ran into a similar issue using Google APIs that are paginated similarly to what you are describing. After a lot of fighting with `Impagination` we decided that it wasn't the right tool for the job.

Impagination is designed to request multiple pages simultaneously, not one by one while waiting for a response from the past one.

I assume with a little bit of h

[2019-05-20 17:15] karlbecker commented on #264
Thanks for the heads up, @Alonski , you probably just saved us a couple day code spike's worth of effort to try this library 😊

I'm surprised it does multiple pages simultaneously... I consider pagination to be central to reducing load on the server. Hitting a server with many page requests very close to each other might result in a good UX for the end user (as long as getting new data doesn't shi

[2019-05-20 19:18] Robdel12 commented on #264
Might be worth pinging @flexyford here too :)

[2019-05-20 19:55] Alonski commented on #264
@Robdel12 I'm not sure if he is still helping out with this addon :)
@karlbecker it's late for me. I'll try to answer tomorrow :)

[2019-05-20 20:42] flexyford commented on #264
@karlbecker have you considered using the `post` method as described in the README to keep the dataset in-sync with the server?  https://github.com/adopted-ember-addons/ember-impagination/blob/master/README.md#updating-the-state

[code]

`impagination` does not directly support this style of data-fetching, but I would be curious what other information you may need to support this.

---

@Alonski I

[2019-05-20 20:51] karlbecker commented on #264
cc'ing my teammate @tiandavis to loop him in.
I haven't done much of the actual Ember development, but I guess I can at least start conversations 😊
Thanks for the feedback everyone, happy to hear and learn more about other ideas, too!

[2019-05-20 22:13] Robdel12 commented on #264
@Alonski that's true, but he still owns the underlying JS package that powers this addon :)

[2019-05-21 06:28] Alonski commented on #264
Hmm so I guess using `post` `put` and `delete` you could manually keep the state correct.
I would love to see an implementation of this 😃
@flexyford @Robdel12 Didn't mean to offend or anything 😄
Just didn't want to bother the both of you after you passed this addon down to the adopted ember addons org.
Thanks for the help!

[2019-06-14 02:54] zion commented on #261
Is there an ETA on this getting merged? I know addon maintainers are busy, just curious...

Id like to try out this addon, but I'd rather not add another addon just for the workaround.

[2019-06-14 14:04] #261 closed

[2019-06-14 14:27] Alonski commented on #261
@zion Thanks for the reminder!
Just released 1.0.0
https://github.com/adopted-ember-addons/ember-impagination/releases/tag/v1.0.0

[2019-11-07 09:18] Alonski commented on #264
@karlbecker Still need help with this?

[2019-11-07 15:47] karlbecker commented on #264
Thanks for the ping @Alonski - we haven't gotten back around to looking into this for awhile.

@tiandavis , any thoughts on getting more help with this, or no need to keep this issue open anymore?

Thanks!

[2021-10-18 23:54] renovate[bot] opened #290 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/adopted-ember-addons/ember-impagination).

## Deprecations / Replacements

The following dependencies are either deprecated or have replacements ava